<!DOCTYPE html>
<html lang="en">

<head>
  <!--Metadatos(IMPORTANTES)-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="WebSyze">
  <meta name="description" content="Compañía de páginas web y aplicaciones">
  <meta name="keywords" content="HTML, CSS, JavaScript, React">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Css-->
  <link rel="stylesheet" href="resources/css/style.css">
  <!--font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fira+Sans:wght@200&family=Montserrat:wght@200&family=Rubik&display=swap"
    rel="stylesheet">
  <!--Iconos de bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <title>W E B S Y Z E | activated</title>
  <!--Favicon(logo en el titulo)-->
  <link rel="icon" type="image/x-icon" href="resources/img/logo/logo-negro.png">
</head>

<body>
  <!--inconos de redes sociales y cuenta del usuario-->
  <div class="fondo-social">
    <div class="container-social">
      <div class="iconos-social">
        <ul class="ul-social">
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#"><i class="bi bi-telephone"></i></a></li>
        </ul>
      </div>
      <div class="tittle-marca">
        <h1>Web<span>Syze</samp></h1>
      </div>
      <div class="cuenta-web">
        <ul class="ul-register">
          
          <% if(login){ %>
            <li><a href="/micuenta">Mi cuenta <i class="bi bi-person-check"></i></a></li>
          <li><a href="#"> <%= name_user %>  <i class="bi bi-person-fill-add"></i></a></li>
          <li><a class="logout" href="/logout">
              Cerrar sesión
            </a></li>
          
          <% }else{ %> 
            <li><a href="/login">Iniciar sesión <i class="bi bi-person-check"></i></a></li>
            <li><a href="/register"> Registrarse  <i class="bi bi-person-fill-add"></i></a></li><% } %> 
        </ul>
      </div>
    </div>
  </div>

  <header>
    <div class="container-menu">
      <div class="logo">
        <a href="/">
          <img src="resources/img/logo/logo-negro.png" alt="logo">
        </a>
      </div>
      <div class="menu">
        <i class="bi bi-list" id="btns-menu"></i>
        <div id="back_menu"></div>
        <nav class="navbar" id="navbar">
          <img src="resources/img/logo/logo-negro.png" alt="logo2">
          <ul class="menu-ul">
            <li class="item-nav"><a class="link-nav" href="#">inicio</a></li>
            <li class="item-nav"><a class="link-nav" href="#">servicios</a></li>
            <li class="item-nav"><a class="link-nav" href="#">proyectos</a></li>
            <li class="item-nav"><a class="link-nav" href="#">contáctanos</a></li>
            <li class="item-nav"><a class="link-nav" href="/login">Cuenta</a></li>
            <li class="item-nav"><a class="link-nav" href="/register">Registrarse</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <div class="container-hero">
      <div class="hero-cover">
        <div class="text">
          <p>Créemos en tu proyecto</p>
          <h1>Crea tu página con nosotros</h1>
          <a href="#" class="btn">descubre ahora</a>
        </div>
      </div>
    </div>
  </main>

  <section class="container-profesion">
    <div class="">

    </div>
  </section>

  <!--Qué es websyze-->
  <section class="container-services">
    <div class="tittle-services">
      <h1>¿Qué realizamos?</h1>
    </div>
    <div class="text-services">
      <p>Cada sitio web es realizado con la mejor creatividad y, con diseños estéticos y limpios.</p>
    </div>
  </section>

  <!--tabla servicios-->
  <section class="tabala-service" id="tabala-service-two">
    <div class="services">
      <div class="img-service">
        <img src="resources/img/services/programacion.png" alt="img-service">
      </div>
      <div class="tittle-services">
        <h3>Desarrollo Web</h3>
      </div>
      <div class="text-services">
        <p>Creamos sitios web adaptable a cualquier dispositivo, trabajamos con la mejor tecnología para brindarle al
          usario una experiecia única.</p>
      </div>
    </div>
    <div class="services">
      <div class="img-service">
        <img src="resources/img/services/publicidad-digital.png" alt="img-service">
      </div>
      <div class="tittle-services">
        <h3>Marketing Digital</h3>
      </div>
      <div class="text-services">
        <p>Nuestro servicio de Marketing te ayudará a llegar a más clientes a tu sitio web y que puedas potencializar
          tus ventas.</p>
      </div>
    </div>
    </div>
    <div class="services">
      <div class="services-container-gr" id="tabala-service-two">
        <div class="img-service">
          <img src="resources/img/services/photoshop.png" alt="img-service">
        </div>
        <div class="tittle-services">
          <h3>Diseño Gráfico</h3>
        </div>
        <div class="text-services">
          <p>Da un toque único a tu sitio web con nuestro servicio de diseño gráficos y que luzca sorprendente.</p>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!--Cómo trabajamos-->

  <section class="container-work">
    <div class="tittle-work-container">
      <div class="tittle-work-text">
        <h1>¿Cómo trabajamos?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam a eveniet nemo rem minus officiis quos
          voluptates corrupti sapiente accusantium doloribus voluptas pariatur, quidem vitae numquam repellendus
          delectus debitis voluptatum cupiditate esse similique recusandae eos excepturi? Nulla illum magni illo, veniam
          ratione repellendus natus adipisci saepe! Voluptate quod minus quis excepturi ab in. Corrupti cum nulla neque
          nam, a quae!</p>
      </div>
    </div>
    <div class="img-work">
      <img src="resources/img/Web development _Two Color.svg" alt="img-work">
    </div>
  </section>

  <!--section de proyectos-->
  <section class="section-proyect">
    <div class="container-proyect">
      <div class="proyect">
        <img src="resources/img/proyectos2/Web 1920 1.svg" alt="proyecto-1">
        <div class="overlay">
          <a href="">Visitar ahora</a>
        </div>
      </div>
    </div>
    <div class="container-proyect">
      <div class="proyect">
        <img src="resources/img/proyectos2/proyecto5.svg" alt="proyecto-2">
        <div class="overlay">
          <a href="">Visitar ahora</a>
        </div>
      </div>
    </div>
    <div class="container-proyect">
      <div class="proyect">
        <img src="resources/img/proyectos2/proyecto2.svg" alt="proyecto-3">
        <div class="overlay">
          <a href="">Visitar ahora</a>
        </div>
      </div>
    </div>
    <div class="container-proyect">
      <div class="proyect">
        <img src="resources/img/proyectos2/proyecto4.svg" alt="proyecto-4">
        <div class="overlay">
          <a href="">Visitar ahora</a>
        </div>
      </div>
    </div>
  </section>

  <!--Nustro proceso de trabajo-->
  <section class="section-desarrollo">
    <div class="contenido-desarrollo">
      <div class="titulo-desarrollo">
        <h2>Nuestro desarrollo</h2>
      </div>
      <div class="text-desarrollo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum qui quibusdam dolorum libero, est accusantium,
          nostrum illum alias, laudantium rerum voluptatem aspernatur molestiae dolorem explicabo ab optio distinctio
          vitae dolore minima? Quidem eaque eveniet voluptatum odio illum laudantium, error id labore, magnam corporis
          ad! Ab minima sequi a dignissimos autem!</p>
      </div>
    </div>
    <div class="img-desarrollo">
      <img src="resources/img/desarrollo/Progress _Monochromatic.svg" alt="img-desarrollo">
    </div>
  </section>

  <!--Card influencer-->
  <section class="section-proyecto">
    <div class="cantainer-card">
      <div class="card">
        <div class="cover-card">
          <img src="resources/img/proyectos/anime-1-1.svg" alt="anime">
          <div class="img-fondo"></div>
        </div>
        <div class="text-description">
          <h2>Galería de dibujos animados</h2>
          <p>Disfruta de una experiencia única en nuestro frontend de galería de dibujos animados</p>
          <input type="button" name="button" id="button" value="Descubre ahora">
        </div>
      </div>
    </div>

    <div class="cantainer-card">
      <div class="card">
        <div class="cover-card">
          <img src="resources/img/proyectos/anime-1-1.svg" alt="anime">
          <div class="img-fondo"></div>
        </div>
        <div class="text-description">
          <h2>Galería de dibujos animados</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quas.</p>
          <input type="button" name="button" id="button" value="Descubre ahora">
        </div>
      </div>
    </div>

    <div class="cantainer-card">
      <div class="card">
        <div class="cover-card">
          <img src="resources/img/proyectos/anime-1-1.svg" alt="anime">
          <div class="img-fondo"></div>
        </div>
        <div class="text-description">
          <h2>Galería de dibujos animados</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quas.</p>
          <input type="button" name="button" id="button" value="Descubre ahora">
        </div>
      </div>
    </div>
  </section>

  <!--Formulario de contacto-->
  <section class="form-section">

  </section>



  <!--Footer-->


  <script src="resources/javascript/funcion.js"></script>
</body>

</html>