<!DOCTYPE html>
<html lang="es">

<head>
    <!--Metadatos(IMPORTANTES)-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="WebSyze">
    <meta name="description" content="Compañía de páginas web y aplicaciones">
    <meta name="keywords" content="HTML, CSS, JavaScript, React">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Css-->
    <link rel="stylesheet" href="resources/css/login.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fira+Sans:wght@200&family=Montserrat:wght@200&family=Rubik&display=swap"
        rel="stylesheet">
    <!--Iconos de bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>W E B S Y Z E | activated</title>
    <!--Favicon(logo en el titulo)-->
    <link rel="icon" type="image/x-icon" href="resources/img/logo/logo-negro.png">
</head>

<body>
    <section class="register">
        <div class="img-box">
            <img src="resources/img/logo/logo-blanco.png" alt="logo">
            <h1>Cuenta</h1>
        </div>
        <div class="contendor-form">
            <form action="/auth" method="POST" class="form-register">
                <div class="input-box">
                    <input type="text" name="usuario" id="usuario" required="required">
                    <span>Usuario</span>
                </div>
                <div class="input-box">
                    <input type="password" name="password" id="password" required="required">
                    <span>Contraseña</span>
                </div>
                <div class="btn">
                    <input type="submit" value="Entrar">
                </div>
                <div class="enlaces">
                    <a href="/passReset">¿Has perdido tu contraseña?</a>
                    <a href="/register">Registrarse</a>
                </div>
            </form>
        </div>
    </section>
</body>

</html>