<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="resources/css/register.css">
</head>

<body>
    <h1>Registrarme</h1>
    <form action="/register" method="POST">

        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" id="usuario" placeholder="Juan2323" require

       <label for="nombres">Nombre/s</label> 
        <input type="text" name="nombres" id="nombres" placeholder="Ej: Juan David" required>

        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos" id="apellidos" placeholder="Ej: De Oro Gelvez" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Contraseña/Pass" required>
       
        <br><br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"  required>
       
        <label for="telefono">Telefono</label>
        <input type="number" name="telefono" id="telefono" placeholder="Ej: 3006527383" required>

        
        <label for="asunto">Asunto</label>
        <input type="text" name="asunto" id="asunto" required>
        <br><br>
        <label for="necesidad">¿Qué necesitas de nuestro servico?</label>
        <textarea name="necesidad" id="necesidad" rows="5" cols="40" placeholder="Cuentanos tu necesidad."></textarea>

        <input type="submit" value="registrar" class="btn-registrar">

        

    </form>
</body>

</html>


